# jira-ticket-migrate config file

source-jira:
  url: "https://source_jira.atlassian.com"
  auth:
    username: "AzureDiamond"
    password: "hunter2"

destination-jira:
  url: "https://destination_jira.atlassian.com"
  auth:
    username: "AzureDiamond"
    password: "hunter2"

projects-to-migrate:
  - "PROJONE"
  - "PROJTWO"
